*.aps
*.dep
*.exe
*.htm
*.idb
*.la
*.lib
*.lo
*.log
*.mac
*.ncb
*.o
*.obj
*.opt
*.pc
*.pdb
*.plg
*.res
*.suo
*.swp
*.user
.deps/
.libs/
x86_32/
x86_64/
m4/
configure
Makefile.in
Makefile
autom4te.cache
aclocal.m4
ltmain.sh
depcomp
install-sh
missing
libtool
stamp-h1
depcomp
compile
config.guess
config.h
!msvc/config.h
config.log
config.status
config.sub
